* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    background-color: antiquewhite;
}

img {
    background-color: rgba(0, 0, 0, 0.56);
    border: none;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    width: 30%; 
    display: block;
    margin: 0 auto;
}

.main {
    pointer-events: none;
    text-align: center;
}


hr {
    margin: 4% auto;
    border-color: red;
}


ol, li {
    list-style: none;
    text-align: center;
}

a,li,ol{color: cadetblue;}


.connection {
    text-align: center;
    margin: 5% auto;
}

li {
    padding: 1rem;
    color: black;
}

a {
    border: solid 1px black;
    padding: 5px;
    display: block;
    margin: 5px auto;
    text-align: center;
    width: 70%; 
    font-family: "Arial", sans-serif; 
    font-size: 1.2rem; 
    list-style: none;
    text-decoration: none;
}

a:hover{
    border:  3px solid blueviolet; 
    color: black; 
}
.spam{
    max-width: 100%;
    display: block;
    margin: 5% auto 0;
    text-align: center;
}



.spam{
    font-size: 2rem; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:antiquewhite;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid antiquewhite;
}
